<style>

#facilityListPage .pm-confirm-button,#facilityListPage button.pm-confirm-button{background:var(--g1)!important;border:none!important;border-radius:8px!important;color:#fff!important;font-weight:600!important;padding:12px 20px!important;cursor:pointer!important;transition:opacity .2s,transform .2s!important;text-decoration:none!important;display:inline-block!important;width:100%!important;text-align:center!important}#facilityListPage .search-box-wrapper{height:70px!important;padding:35px 0 0 20px!important;background-color:#fdfdfd!important;border-right:1px solid #fff!important;position:relative!important}

</style>
