<style type="text/css">
#listView{background:0 0!important;border:0!important;padding:0!important}
#listView .k-listview-content{display:flex!important;flex-wrap:wrap!important;gap:20px!important;padding:0!important}
</style>
